<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="system, of, a, down, heavy metal, rock, band, armenian, unofficial, online, shop, shirts">
    <meta name="description" content="Online shop of System Of A Down clothes">
    <!-- <link rel="stylesheet" href="../css/styles.css"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <title>ONLINE SHOP | SYSTEM OF A DOWN</title>
</head>
<body>
    <div class="container-fluid container">
        <header class="header col-lg-12 col-md-12 col-sm-12">
            <h1 class="titulo text-center">
                SYSTEM OF A DOWN
            </h1>
            <h3 class="subtitulo text-center">
                UNOFFICIAL WEBSITE
            </h3>
            
                <!-- <ul>
                    <li><a href="./index.html">HOME</a></li>
                    <li><a href="./newsletter.html">NEWSLETTER</a></li>
                    <li><a href="./tour.html">TOUR</a></li>
                    <li><a href="./music.html">MUSIC</a></li>
                    <li><a href="./shop.html">SHOP</a></li>
                </ul> -->
            <nav>   
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./newsletter.html">NEWSLETTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./tour.html">TOUR</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./music.html">MUSIC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./shop.html">SHOP</a>
                    </li>
                </ul> 
            </nav>
        </header>
    
    <div class="titulo">
        <h2 class="tituloSecciones">
            ONLINE SHOP
        </h2>
    </div>
    <div class="contenedorShirts row text-center">
        <div class="shirt col-lg-4"> 
            <img src="../img/shirt1.jfif" alt="shirt1">
            <p>SHIRT 1 - $99,99</p>
            <button type="button" class="btn btn-danger btnShop">BUY NOW!</button>
        </div>
        <div class="shirts col-lg-4">
            <img src="../img/shirt2.jfif" alt="">
            <p>SHIRT 2 - $99,99</p>
            <button type="button" class="btn btn-danger btnShop">BUY NOW!</button>
        </div>
        <div class="shirts col-lg-4">
            <img src="../img/shirt3.jfif" alt="">
            <p>SHIRT 3 - $99,99</p>
            <button type="button" class="btn btn-danger btnShop">BUY NOW!</button>
        </div>
        <div class="shirts col-lg-4">
            <img src="../img/shirt4.jfif" alt="">
            <p>SHIRT 4 - $99,99</p>
            <button type="button" class="btn btn-danger btnShop">BUY NOW!</button>
        </div>
        <div class="shirts col-lg-4">
            <img src="../img/shirt5.jfif" alt="">
            <p>SHIRT 5 - $99,99</p>
            <button type="button" class="btn btn-danger btnShop">BUY NOW!</button>
        </div>
        <div class="shirts col-lg-4">
            <img src="../img/shirt6.jfif" alt="">
            <p>SHIRT 6 - $99,99</p>
            <button type="button" class="btn btn-danger btnShop">BUY NOW!</button>
        </div>
    </div>
    <footer>Copyright 2020 | <a class="footerlink" href="https://www.linkedin.com/in/adrian-pereyra92/" target="_blank">Adrian Pereyra</a></footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>